  body{
    margin: 50px;
    font: normal meduim/1.4 sans-serif;
  }
  table{
    border-collapse: collapse;
    width: 100%;
  }
  
  tr.black th {
      background: black;
      color: white;
  }
  td, th {
    padding-top: 0.25rem;
    border: 1px solid #ccc;
  }
  
  th { 
    background: black;
    color: white;
    text-align: center; 
    overflow-y: auto;
    position: sticky;
    top: 0; /*required for stickiness*/
   
    
   }

  tr:nth-child(even){
    background-color: #d3d1d1;
  }
  
  tbody tr:hover {
    background-color: rgb(248, 248, 48);
  }